.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tittle{
    font-size: 40px;
    margin-top: 53px;
    font-family: transformer;
    color: white;
    border-bottom: 1px solid #fff;
}


.content{
    text-align: left;
    font-family: c-condensed;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}
h3{
    font-size: 20px;
    font-family: c-condensed;
    color: white;
}