
.fa-solid{
    font-weight: 900;
    position: relative;
    float: left;
    font-size: 42px;
    color: #fff;
    padding: 9px;
}

.Condensed{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.col{
    padding: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px) !important;
    background-color: #45464e2a!important;
    border-radius: 3px;
    box-shadow: 0 10px 10px 0 rgba(14, 5, 29, 0.171)!important;
}

.autor{
    color: #ffffffa8;
    float: right;
    padding-right: 30px;    
    font-style: italic;
    font-size: 15px;

}

.Condensed p {
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 30px 0;
}

.izq{
    justify-self:  flex-start;
}

.der{
    align-self: flex-end;
}