*{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.img-responsive{
    width: 682px;
    position: relative;
    float: left;
    left: -136px;
}

.tittle{
    color: white;
    font-family: transformer;
    top: 36px;
    font-size: 44px;
    letter-spacing: 3px;
    align-items: center;
}
.tittle h1{
    font-size: 50px;
    border-bottom: 1px solid white;
}