/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: transformer;
    src: url(/assets/fonts/Transformers.ttf) format('truetype');
}
@font-face {
    font-family: c-condensed;
    src: url(/assets/fonts/Coolvetica/gruesa.otf) format('truetype');
}

.Transformer{
    font-family: transformer;
}

.Condensed{
    font-family: c-condensed;
}